{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Site.Data.section.cclicenses.name | safeHTML }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Data.section.cclicenses.name | safeHTML }} | {{ .Site.Title }}">
<meta name="description" content="{{ .Site.Data.section.cclicenses.description | safeHTML }}">
<meta property="og:description" content="{{ .Site.Data.section.cclicenses.description | safeHTML }}">
<meta property="og:image" content="{{ .Site.Data.section.cclicenses.image | relURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-cclicenses.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ .Site.Data.section.cclicenses.name }} <a href='{{ .RSSLink }}' title='Feed'><i class='fas fa-rss'></i></a></h1>
<p><a href="https://baldanders.info/">本家サイト</a>の「<a href="https://baldanders.info/spiegel/archive/cc-license/">クリエイティブ・コモンズ・ライセンスについて</a>」を大幅リニューアル。</p>
<p>なお，私は法の専門家ではないので説明が大雑把だったり間違いがあったりするかもしれませんが，平にご容赦。
（事実関係の間違いは指摘していただけると助かります）</p>
<ol>
{{ range .Data.Pages.ByDate }}{{ partial "li-section.html" . }}{{ end }}
</ol>

<p>以降，執筆予定。</p>
<ul>
<li>royalty-free と著作権管理団体</li>
<li>CC0 と Free Culture Licenses</li>
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}