{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">
{{ partial "header.html" . }}
<title>{{ .Title | safeHTML }} — {{ .Site.Data.section.cclicenses.name | safeHTML }} | {{ .Site.Title | safeHTML }}</title>
<meta property="og:title" content="{{ .Title | safeHTML }} — {{ .Site.Data.section.cclicenses.name | safeHTML }} | {{ .Site.Title | safeHTML }}">
<meta name="description" content="{{ .Description | safeHTML }}">
<meta property="og:description" content="{{ .Description | safeHTML }}">
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Data.section.cclicenses.image | absURL }}{{ end }}">{{ with .Site.Data.author }}{{ if .name }}
<meta name="author" content="{{ .name }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}
{{ partial "header-nav.html" . }}

{{ partial "json-ld-cclicenses.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->

<main>
<nav class="breadcrumb">
<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>{{ if .Section }}{{ $secURL := printf "/%s/" (.Section | urlize) }} &raquo; <a href="{{ $secURL | relURL }}">{{ .Site.Data.section.cclicenses.name }}</a>{{ end }}
</nav>
<article>
<h1>{{ .Title }}</h1>
{{ partial "navi-tag.html" . }}

<section><div>
{{ partial "noextension.html" . }}
{{ .Content }}
</div></section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}