{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">
{{ partial "header.html" . }}
<title>{{ .Title }} — 改訂3版： CC Licenses について | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} — 改訂3版： CC Licenses について | {{ .Site.Title }}">{{ if .Description }}
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}">{{ else }}
<meta name="description" content="CC License について。">
<meta property="og:description" content="CC License について。">{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ .Site.BaseURL }}images/attention/hydrangea.jpg">{{ partial "twitter-card.html" . }}{{ with .Params.author.name }}
<meta name="author" content="{{ . }}">{{ end }}
{{ partial "header-nav.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/BlogPosting' itemref='maker'>
<h1 itemprop='name'>{{ .Title }}{{ with .Section }} — <a href="/{{ . | urlize }}">改訂3版： CC Licenses について</a>{{ end }}</h1>
{{ partial "navi-tag.html" . }}

<section><div>
<div style="float:right;margin-left:0.5rem;margin-bottom:0.5rem;padding-left:0.5rem;padding-bottom:0.5rem;">
<a href="http://www.baldanders.info/spiegel/log2/000820.shtml" title="Stop Fast Track TPP — Baldanders.info"><img src="http://www.baldanders.info/images/noextension.png" alt="no extension" width="165" height="50" /></a>
</div>
{{ .Content }}
</div></section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "e-words.html" . }}
{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}