{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $secTitle := .Site.Data.section.release.name | plainify }}{{ $siteTitle := .Site.Title | plainify }}{{ $desc := .Site.Data.section.release.description | plainify | safeHTML }}
{{ partial "header.html" . }}{{ with .AlternativeOutputFormats.Get "RSS" }}
<link rel="alternate" href="{{ .Permalink }}" type="application/rss+xml" title="{{ $secTitle }} | {{ $siteTitle }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ $secTitle }} | {{ $siteTitle }}</title>
<meta property="og:title" content="{{ $secTitle }}">
<meta name="description" content="{{ $desc }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:image" content="{{ .Site.Data.section.release.image | absURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-release.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ $secTitle }}{{ with .OutputFormats.Get "RSS" }} <a href='{{ .RelPermalink }}' title='Feed'><i class='fas fa-rss'></i></a>{{ end }}</h1>
<p>自作パッケージ・ツールと気になるツール・サービスのリリース情報について。</p>

<h2>運営中の公開プロジェクト</h2>

<ol>
	<li><a href="{{ ref . "/release/gpgpdump.md" }}">OpenPGP パケットを可視化する gpgpdump</a></li>
	<li><a href="{{ ref . "/release/books-data.md" }}">書籍データ取得ツール books-data</a></li>
	<li><a href="{{ ref . "/release/gnkf.md" }}">GNKF: Network Kanji Filter by Golang</a></li>
	<li><a href="{{ ref . "/release/dependency-graph-for-golang-modules.md" }}">Depm: Go 言語用モジュール依存関係可視化ツール</a></li>
	<li><a href="{{ ref . "/release/aozora-api-package-for-golang.md" }}">Go 言語用青空文庫 API クライアント・パッケージ</a></li>
	<li><a href="{{ ref . "/release/openbd-api-package-for-golang.md" }}">Go 言語用 openBD クライアント・パッケージ</a></li>
	<li><a href="{{ ref . "/release/pa-api-v5.md" }}">Go 言語用 PA-API v5 クライアント・パッケージ</a></li>
	<li><a href="{{ ref . "/release/errs-package-for-golang.md" }}">Go 言語用エラーハンドリング・パッケージ</a></li>
	<li><a href="{{ ref . "/release/gocli-package-for-golang.md" }}">Go 言語用 CLI プログラミング支援パッケージ</a></li>
	<li><a href="{{ ref . "/release/mersenne-twister-by-golang.md" }}">疑似乱数生成器 spiegel-im-spiegel/mt</a></li>
</ol>

<h2>記事の一覧</h2>

<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}