@charset "UTF-8";
/**
 * addon.css -- Cascading Style Sheet (General)
 */
/* re-declaration of font-family */
body {
  font-family: 'Noto Serif', 'aozora-m', serif;
  /* font-smoothing: always; // Non-standard */
}
/* font for footer navigation */
footer nav {
  font-family: 'Noto Sans', 'Noto Sans Japanese', sans-serif;
}

/* hreview */
main .hreview {
  font-size: small;
  line-height: 1.2;
  border: solid thin gray;
  margin: 1rem 0rem;
  padding: 2px;
}
.hreview dl {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-align: left;
}
.hreview dl > dt {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  color: inherit;
  background-color: inherit;
}
.hreview dl > dd {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  color: inherit;
  background-color: inherit;
}
.hreview img.photo {
  float:left;
  border: none;
  color: inherit;
  background-color: inherit;
  margin: 0 15px 10px 10px;
  padding: 0.5rem;
}
.hreview p.gtools {
  font-size: smaller;
  line-height: inherit;
  text-align: right;
  margin: 0;
  clear: both;
}

 /* page navigation */
.page-nav {
  display: flex;
  flex-direction: row;
  margin-top: 2.0rem;
  margin-bottom: 0.5rem;
  font-size: small;
  line-height: 1.2;
}
.page-nav .prev-page {
  flex: 1 auto;
  text-align: left;
  padding-right:1.0rem;
}
.page-nav .next-page {
  flex: 1 auto;
  text-align: right;
  padding-left:1.0rem;
}
