{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
{{ partial "header-add.html" . }}
<title>List of {{ .Title }} - {{ .Site.Title }}</title>
<meta name="description" content="Entries of {{ .Title }}">
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main role="main">
<article>
<h2>Entries of {{ .Title }} <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h2>
<ul style="list-style:none;">
{{ range .Data.Pages }}{{ partial "li.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
