{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
{{ partial "header-add.html" . }}
<title>List of {{ .Title }} - {{ .Site.Title }}</title>
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main role="main">
<article>
<h2>Entries of {{ .Title }} <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h2>
<ul style="list-style:none;">
{{ range .Data.Pages }}
<li>
	{{ with .Section }}[<a href="/{{ . | urlize }}">{{ . }}</a>] {{ end }}<a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
	({{ with .Params.author.name }}by {{ . }}, {{ end }}<time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>)
	{{ with .Params.tags }}{{ range . }} #<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }}{{ if .Draft }} <span class="caution">#Draft</span>{{ end }}
	{{ with .Description }}<br>&raquo; {{ . }}{{ end }}
</li>
{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
