{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $title := .Title | plainify }}{{ $siteTitle := .Site.Title | plainify }}{{ $desc := .Description | plainify | safeHTML }}
{{ partial "header.html" . }}
<title>{{ $title}} | {{ $siteTitle }}</title>
<meta property="og:title" content="{{ $title}} — {{ $siteTitle }}">
<meta name="description" content="{{ $desc }}">
<meta property="og:description" content="{{ $desc }}">{{ with .Site.Data.site }}{{ with .image }}
<meta property="og:image" content="{{ . | absURL }}">{{ end }}{{ end }}{{ with .Site.Data.author }}{{ if .name }}
<meta name="author" content="{{ .name }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}
{{ partial "header-nav.html" . }}

{{ partial "json-ld-single.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>{{ $secURL := "" }}{{ with .Section }}{{ $secURL = printf "/%s/" (. | urlize) }}{{ end }}
<h1>{{ .Title }}{{ with .Section }} [<a href="{{ $secURL | absURL }}">{{ .Section | humanize | title }}</a>]{{ end }}</h1>
{{ partial "navi-tag.html" . }}
{{ partial "navi-history.html" . }}

<section>
{{ .Content }}
</section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}