{{ partial "json-ld-site.html" . }}{{ $maker := printf "%s#maker" .Site.BaseURL }}{{ $org := printf "%s#org" $.Site.BaseURL }}
<script type="application/ld+json">{{ $sec := "cc-licenses" }}{{ $secURL := printf "/%s/" ($sec | urlize) }}
{
	"@context": "http://schema.org",
	"@type": "Blog",
	"@id": {{ $secURL | absURL | jsonify }},
	"url": {{ $secURL | absURL | jsonify }},
	"inLanguage": {{ .Site.Data.section.cclicenses.languageCode | jsonify }},
	"name": {{ .Site.Data.section.cclicenses.name | safeHTML | jsonify }},
	"description": {{ .Site.Data.section.cclicenses.description | safeHTML | jsonify }},
	"image": {{ .Site.Data.section.cclicenses.image | absURL | jsonify }},
	"publisher": {
		"@id": {{ $org | jsonify }}
	},
	"author": {
		"@id": {{ $maker | jsonify }}
	}
}
</script>
<script type="application/ld+json">{{ $breadcrumb := printf "%s#breadcrumb-list" .Permalink }}
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"@id": "{{ .Permalink }}#breadcrumb-list",
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": {{ .Site.BaseURL | jsonify }}
			}
		}{{ if .IsPage }},
		{
			"@type": "ListItem",
			"position": 2,
			"item": {
				"@id": {{ $secURL | absURL | jsonify }}
			}
		}{{ end }}
	]
}
</script>{{ if .IsPage }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BlogPosting",
	"@id": {{ .Permalink | jsonify }},
	"url": {{ .Permalink | jsonify }},
	"mainEntityOfPage": {{ .Permalink | jsonify }},
	"inLanguage": {{ .Site.Data.section.cclicenses.languageCode | jsonify }},
	"name": {{ .Title | jsonify }},
	"description": {{ .Description | jsonify }},
	"headline": {{ .Description | jsonify }}{{if .Params.tags }},
	"keywords": "{{ delimit .Params.tags ", " }}"{{ end }},
	"image": {{ if .Params.image }}{{ .Params.image | absURL | jsonify }}{{ else }}{{ .Site.Data.section.cclicenses.image | absURL | jsonify }}{{ end }},
	"datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | jsonify }},
	"dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | jsonify }}{{ with .Site.Data.author }},
	"publisher": {
		"@id": {{ $org | jsonify }}
	},
	"author": {
		"@id": {{ $maker | jsonify }}
	}{{ if .license }},
	"license": "http://creativecommons.org/licenses/{{ .license }}/4.0/"{{ end }}{{ end }}
}
</script>{{ end }}