{{ partial "json-ld-site.html" . }}{{ $maker := printf "%s#maker" .Site.BaseURL }}{{ $org := printf "%s#org" $.Site.BaseURL }}
<script type="application/ld+json">{{ $sec := "openpgp" }}{{ $secURL := printf "/%s/" ($sec | urlize) }}
{
	"@context": "http://schema.org",
	"@type": "Blog",
	"@id": {{ $secURL | absURL }},
	"url": {{ $secURL | absURL }},
	"inLanguage": {{ .Site.Data.section.openpgp.languageCode }},
	"name": {{ .Site.Data.section.openpgp.name | safeHTML }},
	"description": {{ .Site.Data.section.openpgp.description | safeHTML }},
	"image": {{ .Site.Data.section.openpgp.image | absURL }},
	"publisher": {
		"@id": {{ $org }}
	},
	"author": {
		"@id": {{ $maker }}
	}
}
</script>
<script type="application/ld+json">{{ $breadcrumb := printf "%s#breadcrumb-list" .Permalink }}
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"@id": "{{ .Permalink }}#breadcrumb-list",
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": {{ .Site.BaseURL }}
			}
		}{{ if .IsPage }},
		{
			"@type": "ListItem",
			"position": 2,
			"item": {
				"@id": {{ $secURL | absURL }}
			}
		}{{ end }}
	]
}
</script>{{ if .IsPage }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BlogPosting",
	"@id": {{ .Permalink }},
	"url": {{ .Permalink }},
	"mainEntityOfPage": {{ .Permalink }},
	"inLanguage": {{ .Site.Data.section.openpgp.languageCode }},
	"name": {{ .Title }},
	"description": {{ .Description }},
	"headline": {{ .Description }}{{if .Params.tags }},
	"keywords": "{{ delimit .Params.tags ", " }}"{{ end }},
	"image": {{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Data.section.openpgp.image | absURL }}{{ end }},
	"datePublished": {{ .Date.UTC.Format "2006-01-02T15:04:05-07:00" }},
	"dateModified": {{ .Lastmod.UTC.Format "2006-01-02T15:04:05-07:00" }}{{ with .Site.Data.author }},
	"publisher": {
		"@id": {{ $org }}
	},
	"author": {
		"@id": {{ $maker }}
	}{{ if .license }},
	"license": "https://creativecommons.org/licenses/{{ .license }}/4.0/"{{ end }}{{ end }}
}
</script>{{ end }}