<ul class='cloud center'>
<li><a href='https://github.com/spiegel-im-spiegel/spiegel-im-spiegel.github.io'>Repository</a></li>
<li><a href='{{ "/reviews/" | relURL}}'>Reviews</a></li>
<li><a href='{{ "/about-feeds/" | relURL}}'>Feeds</a></li>
<li><a href='{{ "/site-policy/" | relURL}}'>Site Policy</a></li>
<li><a href='https://validator.w3.org/nu/?doc={{ .Permalink }}&amp;showoutline=yes'>Debug</a></li>
</ul>
<ul class='cloud center'>
<li><a href='https://baldanders.info/'>Home</a></li>
<li><a href='https://photo.baldanders.info/'>Photos</a></li>
<li><a href='https://slide.baldanders.info/'>Slide</a></li>
<li><a href='https://scrapbox.io/spiegel-branch/'>Scrapbox</a></li>
<li><a href='http://qiita.com/spiegel-im-spiegel'>Qiita</a></li>
</ul>