{{ if .Params.tags }}{{ $currentLint := .RelPermalink }}{{ $currentTags := .Params.tags }}<aside id='rel-entiries'>
<style>
#rel-entiries h1 {
  border: solid thin gray;
  margin: 0 0 1rem 0;
  padding: 0 0.5rem 2px 2px;
}
</style>
<h1>関連（するかも知れない）記事</h1>
<ul>{{ range $i, $page := .Site.Pages }}
  {{ $hasCommonTags := intersect $currentTags $page.Params.tags | len | lt 3 }}
  {{ if and $hasCommonTags (ne $currentLint $page.RelPermalink) }}<li>{{ with $page.Section }}[<a href="/{{ . | urlize }}">{{ . }}</a>] {{ end }}<a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>{{ end }}
{{ end }}</ul>
</aside>{{ end }}