{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $siteTitle := .Site.Title | plainify }}
{{ partial "header.html" . }}
<title>{{ $siteTitle }}</title>
<meta property="og:title" content="{{ $siteTitle }}">{{ with .Site.Data.site }}{{ with .description }}
<meta name="description" content="{{ . | plainify }}">
<meta property="og:description" content="{{ . | plainify }}">{{ end }}{{ with .image }}
<meta property="og:image" content="{{ . | absURL }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-site.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main><article>
<h1>What's New</h1>

<section>
<h2>最新記事（{{ printf "in %d Entries" (len .Site.RegularPages) }}）</h2>
<ul class="title-list">
{{ range first 1 .Site.RegularPages }}{{ partial "li.html" . }}{{ end }}
</ul>

<h3>最近更新した記事</h3>{{ $ct := 5 }}
<ul class="title-list">
{{ range first $ct .Site.RegularPages.ByLastmod.Reverse }}{{ partial "li.html" . }}{{ end }}
</ul>

</section> <!-- 最近の記事 -->

<section>
<h2>主な <a href='{{ "/tags/" | relURL }}'>Tags</a> 一覧</h2>
<ul class="cloud" style="font-size:smaller;">{{ range $key, $value := .Site.Taxonomies.tags.Alphabetical }}{{ if ge $value.Count 30 }}{{ $tag := lower $value.Name }}{{ $tagURL := printf "/tags/%s/" $tag | urlize }}<li>#<a href="{{ $tagURL | relURL }}">{{ $tag }}</a> ({{ $value.Count }})</li>{{ end }}{{ end }}</ul>
</section> <!-- Tags -->

<section>
<h2>Sections 一覧</h2>
<ul class="title-list">

<li><a href='{{ "/remark/" | relURL }}'><em>[remark] しっぽのさきっちょ</em></a> <a href='{{ "/remark/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "remark") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 「<a href="https://baldanders.info/spiegel/log/">しっぽのさきっちょ</a>」が帰ってきたよ。日記風コンテンツ。
	</span>
</li>

<li><a href='{{ "/golang/" | relURL }}'><em>[golang] プログラミング言語 Go</em></a> <a href='{{ "/golang/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "golang") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; Go 言語に関する話題。
	</span>
</li>

<li><a href='{{ "/openpgp/" | relURL }}'><em>[openpgp] OpenPGP の実装</em></a> <a href='{{ "/openpgp/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "openpgp") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; OpenPGP とその実装である GnuPG 等に関する話題。
	</span>
</li>

<li><a href='{{ "/cc-licenses/" | relURL }}'><em>[cc-licenses] 改訂3版： CC Licenses について</em></a> <a href='{{ "/cc-licenses/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "cc-licenses") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; <a href="https://baldanders.info/">本家サイト</a>の「<a href="https://baldanders.info/spiegel/cc-license/">クリエイティブ・コモンズ・ライセンスについて</a>」を大幅リニューアル。
	</span>
</li>

<li><a href='{{ "/hugo/" | relURL }}'><em>[hugo] ゼロから始める Hugo</em></a> <a href='{{ "/hugo/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "hugo") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; <a href="https://baldanders.info/">本家サイト</a>のブログ機能を Hugo で外出しにする作業を行うにあたって，いろいろ試しながら作業している。その際のメモを公開する。
	</span>
</li>

<li><a href='{{ "/release/" | relURL }}'><em>[release] リリース情報</em></a> <a href='{{ "/release/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "release") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 自作パッケージ・ツールのリリース情報と気になるツール・サービスの情報について。
	</span>
</li>

<li><a href='{{ "/bookmarks/" | relURL }}'><em>[bookmarks] ブックマーク</em></a> <a href='{{ "/bookmarks/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.RegularPages "Section" "==" "bookmarks") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Site.Data.author }}{{ with .name }} by {{ . }}{{ end }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; いままで del.icio.us （旧 delicious.com）で収集していたブックマークの代替として運用してみるテスト。
	</span>
</li>

</ul>
</section> <!-- Sections -->

<section>
<h2>終了した日記・ブログ</h2>
<ul>
<li><a href="https://baldanders.info/blog/">旧メイン・ブログ</a>（2003-2015）</li>
<li><a href="https://baldanders.info/spiegel/log/">各種日記</a>（1999-2006）</li>
</ul>
</section> <!-- 終了した日記・ブログ -->

</article></main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}