{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $siteTitle := .Site.Title | plainify }}
{{ partial "header.html" . }}
<title>{{ $siteTitle }}</title>
<meta property="og:title" content="{{ $siteTitle }}">{{ with .Site.Data.site }}{{ with .description }}
<meta name="description" content="{{ . | plainify }}">
<meta property="og:description" content="{{ . | plainify }}">{{ end }}{{ with .image }}
<meta property="og:image" content="{{ . | absURL }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-site.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main><article>
<h1>最新記事（in {{ len .Site.RegularPages | lang.NumFmt 0 }} Entries）</h1>

<ul class="title-list">
{{ range first 5 .Site.RegularPages }}{{ partial "li.html" . }}{{ end }}
</ul>

<p>最近の更新状況などは<a href='{{ ref . "/status.md" }}'>こちら</a></p>

</article></main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}