{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $siteTitle := .Site.Title | plainify }}
{{ partial "header.html" . }}
<title>{{ $siteTitle }}</title>
<meta property="og:title" content="{{ $siteTitle }}">{{ with .Site.Data.site }}{{ with .description }}
<meta name="description" content="{{ . | plainify }}">
<meta property="og:description" content="{{ . | plainify }}">{{ end }}{{ with .image }}
<meta property="og:image" content="{{ . | absURL }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-site.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main><article>
<h1>最新記事（in {{ len .Site.RegularPages | lang.NumFmt 0 }} Entries）</h1>

<ul class="title-list">
{{ range first 5 .Site.RegularPages }}{{ partial "li.html" . }}{{ end }}
</ul>

<h2>主な <a href="tags/">Tags</a></h2>

{{ $ct := 90 -}}<ul class="cloud" style="font-size:smaller;">
	{{- range $key, $value := .Site.Taxonomies.tags.Alphabetical -}}
	{{- if ge $value.Count $ct -}}{{- $tag := lower $value.Name -}}{{- $tagURL := printf "/tags/%s/" $tag | urlize -}}
	<li>#<a href="{{ $tagURL | relURL }}">{{ $tag }}</a> ({{ $value.Count }})</li>
	{{- end -}}{{- end -}}</ul>

<p>最近の更新状況などは<a href='{{ "/status/" | relURL }}'>こちら</a></p>

</article></main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}