{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Site.BaseURL }}">
<title>{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Title }}">{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">{{ end }}{{ with .Site.Author }}{{ if .avatar }}
<meta property="og:image" content="{{ .avatar | absURL }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-site.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main><article>
<h1>What's New</h1>

<section>
<h2>最近の記事</h2>
<ul class="title-list">
{{ range first 5 (where .Site.Pages "Section" "!=" "bookmarks") }}{{ partial "li.html" . }}{{ end }}
</ul>
</section> <!-- 最近の記事 -->

<section>
<h2><a href="{{ "/tags/" | relURL }}">Tags</a> 一覧</h2>
<ul class="cloud" style="font-size:smaller;">
	{{ range $key, $value := .Site.Taxonomies.tags.Alphabetical }}{{ if ge $value.Count 20 }}<li>#<a href="/tags/{{ $value.Name | urlize }}">{{ $value.Name }}</a> ({{ $value.Count }})</li>{{ end }}{{ end }}
</ul>
</section> <!-- Tags -->

<section>
<h2>Sections 一覧</h2>
<ul class="title-list">

<li><a href="{{ "/remark/" | relURL }}"><em>[remark] しっぽのさきっちょ</em></a> <a href='{{ "/remark/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "remark") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 「<a href="http://www.baldanders.info/spiegel/log/">しっぽのさきっちょ</a>」が帰ってきたよ。日記風コンテンツ。
	</span>
</li>

<li><a href="{{ "/release/" | relURL }}"><em>[release] リリース情報</em></a> <a href='{{ "/release/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "release") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 自作パッケージ・ツールのリリース情報と気になるツール・サービスの情報について。
	</span>
</li>

<li><a href="{{ "/golang/" | relURL }}"><em>[golang] プログラミング言語 Go</em></a> <a href='{{ "/golang/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "golang") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; Go 言語に関する話題。
	</span>
</li>

<li><a href="{{ "/openpgp/" | relURL }}"><em>[openpgp] OpenPGP の実装</em></a> <a href='{{ "/openpgp/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "openpgp") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; OpenPGP とその実装である GnuPG 等に関する話題。
	</span>
</li>

<li><a href="{{ "/hugo/" | relURL }}"><em>[hugo] ゼロから始める Hugo</em></a> <a href='{{ "/hugo/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "hugo") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; <a href="http://www.baldanders.info/">本家サイト</a>のブログ機能を Hugo で外出しにする作業を行うにあたって，いろいろ試しながら作業している。その際のメモを公開する。
	</span>
</li>

<li><a href="{{ "/cc-licenses/" | relURL }}"><em>[cc-licenses] 改訂3版： CC Licenses について</em></a> <a href='{{ "/cc-licenses/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "cc-licenses") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; <a href="http://www.baldanders.info/">本家サイト</a>の「<a href="http://www.baldanders.info/spiegel/archive/cc-license/">クリエイティブ・コモンズ・ライセンスについて</a>」を大幅リニューアル。
	</span>
</li>

<li><a href="{{ "/bookmarks/" | relURL }}"><em>[bookmarks] ブックマーク</em></a> <a href='{{ "/bookmarks/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "bookmarks") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; いままで <a href="http://del.icio.us/">del.icio.us</a> （旧 <a href="https://delicious.com/spiegel">delicious.com</a>）で収集していたブックマークの代替として運用してみるテスト。
	</span>
</li>

</ul>
</section> <!-- Sections -->

<section>
<h2>終了した日記・ブログ</h2>
<ul>
<li><a href="http://www.baldanders.info/archives.shtml">本家メイン・ブログ</a>（2006-2015）</li>
<li><a href="http://www.baldanders.info/spiegel/remark/archives.shtml">戯れ言++</a>（2003-2006）</li>
<li><a href="http://www.baldanders.info/spiegel/log/">各種日記</a>（1999-2006）</li>
</ul>
</section> <!-- 終了した日記・ブログ -->

</article></main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}