{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $secTitle := .Site.Data.section.bookmarks.name | plainify }}{{ $siteTitle := .Site.Title | plainify }}{{ $desc := .Site.Data.section.bookmarks.description | plainify | safeHTML }}
{{ partial "header.html" . }}{{ with .AlternativeOutputFormats.Get "RSS" }}
<link rel="alternate" href="{{ .Permalink }}" type="application/rss+xml" title="{{ $secTitle }} | {{ $siteTitle }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<meta name="robots" content="noindex">
<title>{{ $secTitle }} | {{ $siteTitle }}</title>
<meta property="og:title" content="{{ $secTitle }}">
<meta name="description" content="{{ $desc }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:image" content="{{ .Site.Data.section.bookmarks.image | absURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-bookmarks.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ $secTitle }}{{ with .OutputFormats.Get "RSS" }} <a href='{{ .RelPermalink }}' title='Feed'><i class='fas fa-rss'></i></a>{{ end }}</h1>
<p>いままで del.icio.us （旧 delicious.com）で収集していたブックマークの代替として運用してみるテスト。</p>
<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}