{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Site.Data.section.bookmarks.name | safeHTML }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Data.section.bookmarks.name | safeHTML }} | {{ .Site.Title }}">
<meta name="description" content="{{ .Site.Data.section.bookmarks.description | safeHTML }}">
<meta property="og:description" content="{{ .Site.Data.section.bookmarks.description | safeHTML }}">
<meta property="og:image" content="{{ .Site.Data.section.bookmarks.image | absURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-bookmarks.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ .Site.Data.section.bookmarks.name }} <a href='{{ .RSSLink }}' title='Feed'><i class='fas fa-rss'></i></a></h1>
<p>いままで <a href="http://del.icio.us/">del.icio.us</a> （旧 <a href="https://delicious.com/spiegel">delicious.com</a>）で収集していたブックマークの代替として運用してみるテスト。</p>
<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}