{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $title := .Title | plainify }}{{ $secTitle := .Site.Data.section.bookmarks.name | plainify }}{{ $siteTitle := .Site.Title | plainify }}{{ $desc := .Description | plainify | safeHTML }}
{{ partial "header.html" . }}
<meta name="robots" content="noindex">
<title>{{ $title }} | {{ $siteTitle }}</title>
<meta property="og:title" content="{{ $title }}">
<meta name="description" content="{{ $desc }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Data.section.bookmarks.image | absURL }}{{ end }}">{{ with .Site.Data.author }}{{ if .name }}
<meta name="author" content="{{ .name }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}
{{ partial "mastodon-me.html" . }}
{{ partial "header-nav.html" . }}

{{ partial "json-ld-bookmarks.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->

<main>
<nav class="breadcrumb">
<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>{{ if .Section }}{{ $secURL := printf "/%s/" (.Section | urlize) }} &raquo; <a href="{{ $secURL | relURL }}">{{ .Site.Data.section.bookmarks.name }}</a>{{ end }}
</nav>
<article>
<h1>{{ .Title }}</h1>
{{ partial "navi-history.html" . }}

<section><div>
{{ partial "noextension.html" . }}
<p>ジャンルごちゃ混ぜで順番にも意味がありません。
私の関心領域にかかるコンテンツのリンクを片っ端から挙げていっています。
当然ではありますが，リンク先各コンテンツの著作権はそれぞれの著作（権）者に帰属します。</p>
{{ .Content }}
</div></section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}