{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>{{ .Title }} — {{ .Site.Title }}</title>
{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ else }}<meta name="description" content="{{ with .Date }}{{ .Format "2006-01-02" }} {{ else}}本日{{ end }}のブックマーク集。">{{ end }}
{{ with .Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ partial "header-nav.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/BlogPosting' itemref='maker'>
<div><strong>{{ with .Section }}<a href="/{{ . | urlize }}">ブックマーク集</a>{{ end }}</strong></div>
<h1 itemprop='name'>{{ .Title }}</h1>

<section><div>
<div style="float:right;margin:0.5em;padding:0.5em;">
<a href="http://www.baldanders.info/spiegel/log2/000820.shtml" title="Stop Fast Track TPP — Baldanders.info"><img src="http://www.baldanders.info/images/noextension.png" alt="no extension" width="165" height="50" /></a>
</div>
<p>ジャンルごちゃ混ぜで順番にも意味がありません。
私の関心領域にかかるコンテンツのリンクを片っ端から挙げていっています。
当然ではありますが，リンク先各コンテンツの著作権はそれぞれの著作（権）者に帰属します。</p>
{{ .Content }}
</div></section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
