{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $secTitle := .Site.Data.section.golang.name | plainify }}{{ $siteTitle := .Site.Title | plainify }}{{ $desc := .Site.Data.section.golang.description | plainify | safeHTML }}
{{ partial "header.html" . }}{{ with .AlternativeOutputFormats.Get "RSS" }}
<link rel="alternate" href="{{ .Permalink }}" type="application/rss+xml" title="{{ $secTitle }} | {{ $siteTitle }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ $secTitle }} | {{ $siteTitle }}</title>
<meta property="og:title" content="{{ $secTitle }} | {{ $siteTitle }}">
<meta name="description" content="{{ $desc }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:image" content="{{ .Site.Data.section.golang.image | absURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-golang.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ $secTitle }}{{ with .OutputFormats.Get "RSS" }} <a href='{{ .RelPermalink }}' title='Feed'><i class='fas fa-rss'></i></a>{{ end }}</h1>
<p><a href="https://golang.org/" title="The Go Programming Language">Go 言語</a>プログラミングに関する話題。</p>
<p>記事中に出てくるサンプル・コードについては，特に断りがない限り， <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja">CC0</a> 相当での取り扱いで（つまり自由に再利用して）構わない。
</p><p>
なお書籍の『<a href="https://www.amazon.co.jp/exec/obidos/ASIN/4621300253/baldandersinf-22/">プログラミング言語Go</a>』とは何の関係もないのであしからず。
（どちらかというとタイトルは『<a href="https://www.amazon.co.jp/exec/obidos/ASIN/4320026926/baldandersinf-22/">プログラミング言語C</a>』からのパクリです）
</p>

<h2>記事の一覧</h2>
<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>

</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}