{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Title }} — プログラミング言語 Go | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} — プログラミング言語 Go | {{ .Site.Title }}">{{ if .Description }}
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}">{{ else }}
<meta name="description" content="Go 言語に関する話題。">
<meta property="og:description" content="Go 言語に関する話題。">{{ end }}
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ "/images/attention/go-code.png" | absURL }}{{ end }}">
{{ partial "twitter-card.html" . }}{{ with .Params.author.name }}
<meta name="author" content="{{ . }}">{{ end }}
{{ partial "header-nav.html" . }}

{{ partial "json-ld-golang.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->

<main>
<nav class="breadcrumb">
<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>{{ if .Section }} &raquo; <a href="{{ .Site.BaseURL }}{{ .Section | urlize }}/">プログラミング言語 Go</a>{{ end }}
</nav>
<article>
<h1>{{ .Title }}</h1>
{{ partial "navi-tag.html" . }}

<section>
{{ .Content }}
</section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "e-words.html" . }}
{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}