{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>{{ .Title }} — プログラミング言語 Go | {{ .Site.Title }}</title>
{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ else }}<meta name="description" content="Go 言語に関する話題。">{{ end }}
{{ partial "header-nav.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/BlogPosting' itemref='maker'>
<h1 itemprop='name'>{{ .Title }}{{ with .Section }} — <a href="/{{ . | urlize }}">プログラミング言語 Go</a>{{ end }}</h1>
<nav class="tags">{{ with .Params.tags }}<div><a href="/tags">Tags</a>:{{ range . }} <a href="/tags/{{ . | urlize }}">#{{ . }}</a>{{ end }}</div>{{ end }}</nav>

<section>
{{ .Content }}
</section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "e-words.html" . }}
{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
