{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Title }} — しっぽのさきっちょ | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} — しっぽのさきっちょ | {{ .Site.Title }}">{{ if .Description }}
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}">{{ else }}
<meta name="description" content="とりとめのない四方山話。">
<meta property="og:description" content="とりとめのない四方山話。">{{ end }}
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ "/images/attention/remark.jpg" | absURL }}{{ end }}">
{{ partial "twitter-card.html" . }}{{ with .Params.author }}{{ if .name }}
<meta name="author" content="{{ .name }}">{{ end }}{{ end }}
{{ partial "header-nav.html" . }}

{{ partial "json-ld-remark.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->

<main>
<nav class="breadcrumb">
<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>{{ if .Section }} &raquo; <a href="{{ .Site.BaseURL }}{{ .Section | urlize }}/">しっぽのさきっちょ</a>{{ end }}
</nav>
<article>
<h1>{{ .Title }}</h1>
{{ partial "navi-tag.html" . }}

<section><div>
<div style="float:right;margin-left:0.5rem;margin-bottom:0.5rem;padding-left:0.5rem;padding-bottom:0.5rem;">
<a href="https://baldanders.info/spiegel/log2/000820.shtml" title="Stop Fast Track TPP — Baldanders.info"><img src="https://baldanders.info/images/noextension.png" alt="no extension" width="165" height="50" /></a>
</div>
{{ .Content }}
</div></section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}