{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>{{ .Title }} — しっぽのさきっちょ | {{ .Site.Title }}</title>
{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ else }}<meta name="description" content="とりとめのない四方山話。">{{ end }}
{{ with .Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ partial "header-nav.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/BlogPosting' itemref='maker'>
<div><strong>{{ with .Section }}<a href="/{{ . | urlize }}">しっぽのさきっちょ</a>{{ end }}{{ with .Date }}: {{ .Format "2006-01-02" }} 付{{ end }}</strong>{{ with $.Params.update }} （{{ . | dateFormat "2006-01-02" }} 更新）{{ end }}</div>
<h1 itemprop='name'>{{ .Title }}</h1>
<nav class="tags">{{ with .Params.tags }}<div><a href="/tags">Tags</a>:{{ range . }} #<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}</div>{{ end }}</nav>

<section><div>
<div style="float:right;margin:0.5em;padding:0.5em;">
<a href="http://www.baldanders.info/spiegel/log2/000820.shtml" title="Stop Fast Track TPP — Baldanders.info"><img src="http://www.baldanders.info/images/noextension.png" alt="no extension" width="165" height="50" /></a>
</div>
{{ .Content }}
</div></section>

</article>
</main>
{{ partial "page-nav.html" . }}

{{ partial "e-words.html" . }}
{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
