<figure style='margin:0 auto;text-align:center;'>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/{{ .Get "id" }}"{{ with .Get "width"}} width="{{ . }}"{{ end }}{{ with .Get "height"}}  height="{{ . }}"{{ end }} frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
{{ if .Get "title"}}<figcaption>{{ with .Get "link"}}<a href="{{.}}">{{ end }}{{ .Get "title" }}{{ with .Get "link"}}</a>{{ end }}</figcaption>{{ end }}
</figure>