<figure lang='en'>
<style>
main table.nist4 th  {
  vertical-align:middle;
  text-align: center;
}
main table.nist4 td  {
  vertical-align:middle;
  text-align: center;
}
</style>
<table class="nist4">
<thead>
<tr>
<th colspan='2'>Security Strength</th>
<th>Through<br> 2030</th>
<th>2031 and<br> Beyond</th>
</tr>
</thead>
<tbody>
<tr><td rowspan='2'>$\lt 112$</td><td>Applying</td>                       <td colspan='2'>Disallowed</td></tr>
<tr>                              <td>Processing</td>                     <td colspan='2'>Legacy use</td></tr>
<tr><td rowspan='2'>$112$</td>    <td>Applying</td>                       <td rowspan='2'>Acceptable</td><td>Disallowed</td></tr>
<tr>                              <td>Processing</td>                                                    <td>Legacy use</td></tr>
<tr><td>$128$</td>                <td rowspan='3'>Applying/Processing</td><td>Acceptable</td><td>Acceptable</td></tr>
<tr><td>$192$</td>                                                        <td>Acceptable</td><td>Acceptable</td></tr>
<tr><td>$256$</td>                                                        <td>Acceptable</td><td>Acceptable</td></tr>
</tbody>
</table>
<figcaption>Security-strength time frames (via <q><a href='https://doi.org/10.6028/NIST.SP.800-57pt1r5'>SP 800-57 Part 1 Revision 5 <sup><i class='far fa-file-pdf'></i></sup></a></q> 5.6.3)</figcaption>
</figure>