<figure>
<table>
<thead>
<tr>
<th colspan='4'>利用する文字種類数と内訳</th>
<th colspan='4'>パスワード長</th>
</tr>
<tr>
<th>種類数</th>
<th>数字</th>
<th>文字</th>
<th>シンボル</th>
<th>4文字</th>
<th>8文字</th>
<th>12文字</th>
<th>16文字</th>
</tr>
</thead>
<tbody>
<tr><td>10種</td><td>0-9</td><td>なし</td><td>なし</td><td>1円未満<br>（$2^{13.3}$）</td><td>1円未満<br>（$2^{26.6}$）</td><td>約35円<br>（$2^{39.9}$）</td><td>約35万円<br>（$2^{53.2}$）</td></tr>
<tr><td>36種</td><td>0-9</td><td>a-z</td><td>なし</td><td>1円未満<br>（$2^{20.7}$）</td><td>約100円<br>（$2^{41.4}$）</td><td>約1.65億円<br>（$2^{62.0}$）</td><td>約276兆円<br>（$2^{82.7}$）</td></tr>
<tr><td>62種</td><td>0-9</td><td>a-z<br>A-Z</td><td>なし</td><td>1円未満<br>（$2^{23.8}$）</td><td>約7,500円<br>（$2^{47.6}$）</td><td>約1,120億円<br>（$2^{71.5}$）</td><td>約165京円<br>（$2^{95.3}$）</td></tr>
<tr><td>94種</td><td>0-9</td><td>a-z<br>A-Z</td>
	<td><code style='font-size:smaller;'>! " # $ %<br>&amp; ' ( ) =<br>~ | - ^ `<br>¥ { @ [<br>+ * ] ; :<br>} &lt; &gt; ? _<br>, . /</code></td>
    <td>1円未満<br>（$2^{26.2}$）</td><td>約21万円<br>（$2^{52.4}$）</td><td>約16.5兆円<br>（$2^{78.7}$）</td><br><td>約129,000京円<br>（$2^{104.9}$）</td></tr>
</tbody>
</table>
<figcaption><div>パスワード解読の想定コスト例（<q><a href='https://www.ipa.go.jp/files/000026760.pdf'>情報漏えいを防ぐためのモバイルデバイス等設定マニュアル 解説編 <sup><i class='far fa-file-pdf'></i></sup></a></q> 2.4.2.2項より）</div></figcaption>
</figure>