{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>ブックマーク集 — {{ .Site.Title }}</title>
<meta property="og:title" content="ブックマーク集 — {{ .Site.Title }}">
<meta name="description" content="いままで del.icio.us（旧 delicious.com）で収集していたブックマークの代替として運用してみるテスト。">
<meta property="og:description" content="いままで del.icio.us（旧 delicious.com）で収集していたブックマークの代替として運用してみるテスト。">
<meta property="og:image" content="{{ .Site.BaseURL }}images/avatar.jpg">
{{ partial "twitter-card.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/Blog' itemref='maker'>
<h1 itemprop='name'>ブックマーク集 <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h1>
<p itemprop='description'>いままで <a href="http://del.icio.us/">del.icio.us</a> （旧 <a href="https://delicious.com/spiegel">delicious.com</a>）で収集していたブックマークの代替として運用してみるテスト。</p>
<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}