{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>改訂3版： CC Licenses について — {{ .Site.Title }}</title>
<meta name="description" content="本家 Baldanders.info の「クリエイティブ・コモンズ・ライセンスについて」を大幅リニューアル。">
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/Blog' itemref='maker'>
<h1 itemprop='name'>改訂3版： CC Licenses について <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h1>
<p itemprop='description'>
<a href="http://www.baldanders.info/">本家サイト</a>の「<a href="http://www.baldanders.info/spiegel/archive/cc-license/">クリエイティブ・コモンズ・ライセンスについて</a>」を大幅リニューアル。
</p>
<ol>
{{ range .Data.Pages.ByDate }}{{ partial "li-section.html" . }}{{ end }}
</ol>

<p>以降，執筆予定。</p>
<ul>
<li>技術的保護手段について</li>
<li>royalty-free と著作権管理団体</li>
<li>CC0 と Free Culture Licenses</li>
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
