{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>プログラミング言語 Go — {{ .Site.Title }}</title>
<meta name="description" content="Go 言語に関する話題。">
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/Blog' itemref='maker'>
<h1 itemprop='name'>プログラミング言語 Go <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h1>
<p itemprop='description'><a href="https://golang.org/" title="The Go Programming Language">Go 言語</a>に関する話題。</p>
<p>記事中に出てくるサンプル・コードの一部は <a href="https://github.com/spiegel-im-spiegel/go-practice">spiegel-im-spiegel/go-practice</a> および <a href="https://paiza.io/users/show/5298">paiza.IO</a> で公開している。
これらのコードの取り扱いは <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.ja">CC0</a> でどうぞ。
</p>

<h2>記事の一覧</h2>
<ol>
{{ range .Data.Pages.ByDate }}{{ partial "li-section.html" . }}{{ end }}
</ol>

<h2>今後の予定</h2>
<p>
<a href="https://golang.org/">Go 言語</a>の用途としては，簡単なコマンドライン・ツールから大規模な Web アプリケーション，あるいは組込み開発など幅広いが，個人的には仕事等で本格的に使う段階ではないため，当面は簡単なコマンドライン・ツールを作ることを目標に評価を進めていく。
</p>


</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
