{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>リリース情報 | {{ .Site.Title }}</title>
<meta property="og:title" content="リリース情報 | {{ .Site.Title }}">
<meta name="description" content="自作パッケージ・ツールのリリース情報と気になるツール・サービスの情報について。">
<meta property="og:description" content="自作パッケージ・ツールのリリース情報と気になるツール・サービスの情報について。">
<meta property="og:image" content="{{ "/images/attention/tools.png" | absURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-release.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>リリース情報 <a href='{{ .RSSLink }}' title='Feed'><i class='fas fa-rss'></i></a></h1>
<p>自作パッケージ・ツールのリリース情報と気になるツール・サービスの情報について。</p>
<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}