{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<title>しっぽのさきっちょ — {{ .Site.Title }}</title>
<meta property="og:title" content="しっぽのさきっちょ — {{ .Site.Title }}">
<meta name="description" content="とりとめのない四方山話。">
<meta property="og:description" content="とりとめのない四方山話。">
<meta property="og:image" content="{{ "/images/attention/remark.jpg" | absURL }}">
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-remark.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>しっぽのさきっちょ <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h1>
<p>「<a href="http://www.baldanders.info/spiegel/log/">しっぽのさきっちょ</a>」が帰ってきたよ。</p>
<ul class="title-list">
{{ range .Data.Pages }}{{ partial "li-section.html" . }}{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}